{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <h2 class="text-white text-center mb-4">Список Брендов</h2>

        <form class="text-white" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label  for="id_name">Добавить новый бренд:</label>
                <input type="text" name="name" class="form-control" id="id_name" required>
            </div>
            <button type="submit" name="add_brand" class="btn btn-border">Добавить бренд</button>
        </form>

        <table class="table table-bordered table-striped mt-4"
               style="background-color: white; box-shadow: 0 0 15px rgba(0,0,0,0.1); border-radius: 8px; overflow: hidden;">
            <thead style="background-color: #f8f9fa;">
            <tr>
                <th>Имя Бренда</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for brand in brands %}
                <tr>
                    <td>{{ brand.name }}</td>
                    <td>
                        <form method="POST" style="display:inline;">
                            {% csrf_token %}
                            <input type="hidden" name="brand_id" value="{{ brand.id }}">
                            <button type="submit" name="delete_brand" class="btn btn-red">Удалить</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
