{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <h2 class="text-white text-center mb-4">Список заказов</h2>
        <table class="table table-bordered table-striped"
               style="background-color: white; box-shadow: 0 0 15px rgba(0,0,0,0.1); border-radius: 8px; overflow: hidden;">
            <thead style="background-color: #f8f9fa;">
            <tr>
                <th>Номер</th>
                <th>Пользователь</th>
                <th>Адрес</th>
                <th>Карта</th>
                <th>Статус</th>
            </tr>
            </thead>
            <tbody>
            {% for o in order %}
                <tr>
                    <td>{{ o.order_number }}</td>
                    <td>{{ o.username.username }}</td>
                    <td>{{ o.address }}</td>
                    <td>{{ o.card }}</td>
                    <td>
                        <form method="post" style="display:inline;">
                            {% csrf_token %}
                            <input type="hidden" name="order_id" value="{{ o.id }}">
                            <select name="status_id">
                                {% for status in statuses %}
                                    <option value="{{ status.id }}"
                                            {% if status.id == o.status.id %}selected{% endif %}>{{ status.name }}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-sm btn-primary">Обновить</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
