{% extends "base.html" %}

{% block content %}
    <div class="container mt-5 bg-light p-4 rounded shadow">
        <h2 class="text-center mb-4">Изменить товар</h2>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_name">Название продукта</label>
                        <input type="text" name="name" class="form-control" id="id_name" value="{{ product.name }}" required>
                    </div>
                    <div class="form-group">
                        <label for="id_price">Цена</label>
                        <input type="number" name="price" class="form-control" id="id_price" value="{{ product.price }}" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Описание:</label>
                        <textarea class="form-control" id="description" name="description" rows="4">{{ product.description }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="id_photo">Фото</label><br>
                        <input type="file" name="photo" id="id_photo">
                    </div>
                    <div class="form-group">
                        <label for="id_quantity">Количество</label>
                        <input type="number" name="quantity" class="form-control" id="id_quantity" value="{{ product.quantity }}" required>
                    </div>
                    <div class="form-group">
                        <label for="category">Категория:</label>
                        <select class="form-control" id="category" name="category" required>
                            <option value="">Выберите категорию</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}" {% if category.id == product.category.id %}selected{% endif %}>{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="id_brand">Бренд</label>
                        <select name="brand" class="form-control" id="id_brand" required>
                            {% for b in brands %}
                                <option value="{{ b.id }}" {% if b.id == product.brand.id %}selected{% endif %}>{{ b.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-red">Сохранить изменения</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
