{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="site-wrap">


        <div class="banner text-white">
            <div class="image-wrapper">
                <img src="{% static 'images/magazin.png' %}" alt="Изображение магазина"/>
            </div>
            <div class="content">
                <small>Шопинг — это весело!</small>
                <h2>Откройте для себя наши премиум продукты!</h2>
                <p>Добро пожаловать в наш магазин, где свежесть встречается с доступностью! Делайте покупки сейчас и поднимите свой шопинг на новый
                    уровень!</p>
            </div>
        </div>


        <div style="background: #ffffff" class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
            <div class="container">
                <div class="row">


                    <div class="title-section text-center mb-5 col-12">
                        <h2 class="text-uppercase">Самый лучший магазин</h2>
                        <h4 class="text-uppercase">Удобный и всегда рядом</h4>
                    </div>

                    <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
                        <div class="icon mr-4 align-self-start">
                            <span class="fas fa-truck"></span>
                        </div>
                        <div class="text">
                            <h2 class="text-uppercase">Бесплатная доставка</h2>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon mr-4 align-self-start">
                            <span class="fas fa-wallet"></span>

                        </div>
                        <div class="text">
                            <h2 class="text-uppercase">Низкие цены</h2>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon mr-4 align-self-start">
                            <span class="fas fa-check-circle"></span>
                        </div>
                        <div class="text">
                            <h2 class="text-uppercase">Качественные товары</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="position: relative" class="triangle"></div>


        <div class="site-section text-white" data-aos="fade">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-6">
                        <div class="block-16">
                            <figure>
                                <img src="{% static 'images/about.jpg' %}" alt="Image placeholder"
                                     class="img-fluid rounded">

                            </figure>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">


                        <div class="site-section-heading pt-3 mb-4">
                            <h2 class="text-white">Немного о магазине</h2>
                        </div>
                        <p>Добро пожаловать в наш продуктовый магазин, где свежесть и качество стоят на первом месте! Мы
                            стремимся предлагать нашим клиентам только лучшие продукты, отбор которых осуществляется с
                            особым вниманием. Наша цель — сделать ваш шопинг удобным и приятным, предлагая
                            качественные товары по доступным ценам.
                            Мы также заботимся о вашем времени, предлагая удобные способы заказа и доставки. Наша
                            команда всегда готова помочь вам с выбором и ответить на любые вопросы.</p>

                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}