{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="site-wrap">
    <div class="site-section">
        <div class="row">
            <div class=" title-section text-center mb-5 col-12">
                <h2 class="text-white text-uppercase">Товары</h2>
            </div>
        </div>
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-3 order-1 mb-5 mb-md-0">
                    <div class="border p-4 rounded mb-4 bg-white">
                        <h3 class="mb-3 h6 text-uppercase text-black d-block">Фильтр по брендам</h3>
                        <div id="brandFilter">
                            {% for brand in brands %}
                                <a href="?brand={{ brand.id }}" class="brand-link">{{ brand.name }}</a><br>
                            {% endfor %}


                        </div>

                    </div>


                    <div class="border p-2 rounded bg-white">
                        <div class="container mt-2">
                            <h3 class="mb-3 h6 text-uppercase text-black d-block">Фильтр по цене</h3>
                            <form id="priceFilterForm">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="minPrice">Минимальная цена (₽)</label>
                                        <input type="number" class="form-control" id="minPrice"
                                               placeholder="Введите минимальную цену">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="maxPrice">Максимальная цена (₽)</label>
                                        <input type="number" class="form-control" id="maxPrice"
                                               placeholder="Введите максимальную цену">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-red">Применить фильтр</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-9 order-1">

                    <div class="container">
                        <div class="row mb-5" id="productList">
                            

                            {% for p in product %}
                                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 product-item"
                                     data-brand="{{ p.brand.id }}">
                                
                                    <div class="card h-100 text-black">
                                        <div class="img-container">
                                            {% if not p.photo %}
                                                <img src="{% static 'images/def.jpg' %}" class="card-img-top"
                                                     alt="Фото недоступно">
                                            {% else %}
                                                <img src="{{ p.photo.url }}" class="card-img-top"
                                                     alt="{{ p.name }}">
                                            {% endif %}
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">
                                            <h5 class="item-price">{{ p.price }} p.</h5>
                                            </p>
                                            <a href="{% url 'shop_single' p.id %}">
                                                <h7
                                                        class="card-title">{{ p.name }}</h7>
                                            </a>

                                        </div>
                                        <div class="p-2 mb-2">
                                            {% if user.is_superuser %}
                                                <button class="btn btn-border ml-3"><a
                                                        href="{% url 'a_product' p.id %}">Изменить</a></button>
                                                <button class="btn btn-red ml-3"><a class="text-white"
                                                                                    href="{% url 'del_product' p.id %}">Удалить</a>
                                                </button>
                                            {% else %}
                                                {% if user.is_authenticated %}
                                                    <form action="{% url 'add_to_cart' p.id %}" method="POST">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-red"
                                                                style="width: 100%;">
                                                            <span class="fas fa-shopping-cart pr-2"></span>В
                                                            корзину
                                                        </button>
                                                    </form>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<script>
    document.querySelectorAll('.brand-link').forEach(link => {
        link.addEventListener('click', function (event) {
            event.preventDefault(); // предотвращаем переход по ссылке
            const brandId = this.getAttribute('href').split('=')[1]; // Извлекаем ID бренда из URL
            filterProductsByBrand(brandId);
        });
    });

    function filterProductsByBrand(brandId) {
        const products = document.querySelectorAll('.product-item');
        products.forEach(product => {
            const productBrandId = product.getAttribute('data-brand');
            if (brandId === 'all' || productBrandId === brandId) {
                product.style.display = 'block'; // Показываем продукт
            } else {
                product.style.display = 'none'; // Скрываем продукт
            }
        });
    }


</script>
<script>
    document.getElementById('priceFilterForm').addEventListener('submit', function (event) {
        event.preventDefault(); // Предотвращаем стандартное поведение формы

        const minPrice = parseFloat(document.getElementById('minPrice').value) || 0;
        const maxPrice = parseFloat(document.getElementById('maxPrice').value) || Infinity;

        const products = document.querySelectorAll('.product-item');

        products.forEach(product => {
            const price = parseFloat(product.getAttribute('data-price'));
            if (price >= minPrice && price <= maxPrice) {
                product.style.display = 'block'; // Показываем продукт
            } else {
                product.style.display = 'none'; // Скрываем продукт
            }
        });
    });

    document.getElementById('brandFilterForm').addEventListener('submit', function (event) {
        event.preventDefault(); // Предотвращаем стандартное поведение формы

        const selectedBrands = Array.from(document.querySelectorAll('input[name="brands"]:checked')).map(input => input.value);
        const products = document.querySelectorAll('.product-item');

        products.forEach(product => {
            const productBrand = product.getAttribute('data-brand'); // Предполагается, что у вас есть атрибут data-brand
            if (selectedBrands.length === 0 || selectedBrands.includes(productBrand)) {
                product.style.display = 'block'; // Показываем продукт
            } else {
                product.style.display = 'none'; // Скрываем продукт
            }
        });
    });
</script>
{% endblock %}
