{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="site-section">
        <div class="container">
            <div class="row">

                <div class="col-md-6 bg-white">
                    <div class="item-entry">
                        <a href="#" class="product-item md-height bg-gray d-block">
                            {% if not product.photo %}
                                <img src="{% static 'images/def.jpg' %}"
                                     alt="No photo available">
                            {% else %}
                                <img src="{{ product.photo.url }}" alt="{{ product.name }}">
                            {% endif %}
                        </a>

                    </div>

                </div>
                <div class="col-md-6 text-white d-flex flex-column" style="height: 100%;">
                    <div class="flex-grow-1">
                        <h2 class="text-white">{{ product.name }}</h2>
                        <p style="white-space: pre-line;">{{ product.description }}</p>
                        <p>Категория: {{ product.category.name }}</p>
                        <p><strong class="h4">{{ product.price }} p.</strong></p>
                    </div>

                    <div class="p-2 mb-2">
                        {% if user.is_authenticated %}
                            <form action="{% url 'add_to_cart' product.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-border" style="width: 100%;">
                                    <span class="fas fa-shopping-cart pr-2"></span>В корзину
                                </button>
                            </form>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
    <footer class="bg-white text-black mt-5">
        <div class="container py-4">
            <div class="row">
                <div class="container">
                    <div class="">
                        <div class="title-section text-black text-center mb-5 col-12">
                            <h4 class="text-uppercase">Отзывы</h4>
                        </div>
                        <h5>Кол-во отзывов: {{ comment_count }}</h5>
                        <h5>Средняя оценка:
                            {% if average_rating > 0 %}
                                {{ average_rating|floatformat:1 }} / 5
                            {% else %}
                                Нет оценок
                            {% endif %}
                        </h5>
                        <div class="col-md-12 block-3">
                            <div class="nonloop-block-3 owl-carousel">
                                {% for comment in comments %}
                                    <div style="background: #a10000" class="card h-100 text-white p-3">
                                        <div class="media ">
                                            {% if not comment.user.profile_picture %}
                                                <img src="{% static 'images/def.jpg' %}" class="rounded-circle mb-3"
                                                     style="width: 50px; height: 50px" alt="Avatar"/>
                                            {% else %}
                                                <img src="{{ comment.user.profile_picture.url }}"
                                                     class="rounded-circle mb-3"
                                                     style="width: 50px; height: 50px" alt="Avatar"/>
                                            {% endif %}
                                            <div class="media-body">
                                                <div class="overview">
                                                    <div class="name"><b>{{ comment.user.username }}</b></div>
                                                    <div class="details"></div>
                                                    <div class="rating">
                                                        {% for i in "12345" %}
                                                            {% if forloop.counter <= comment.rating %}
                                                                <span style="color: gold;">&#9733;</span>
                                                            {% else %}
                                                                <span style="color: lightgray;">&#9733;</span>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p>{{ comment.text }}</p>
                                        {% load l10n %}
                                        <small>{% localize on %}{{ comment.created_at }}{% endlocalize %}</small>

                                        {% if user.is_superuser %}
                                            <button type="submit" class="btn btn-red btn-block">Удалить</button>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <div style="position: relative" class="triangle"></div>
    <div class="site-section block-3 site-blocks-2">
        <div class="container">
            <div class="row">
                <div class="title-section text-white text-center mb-5 col-12">
                    <h4 class="text-uppercase">Похожие товары</h4>
                </div>
                <div class="col-md-12 block-3">
                    <div class="nonloop-block-3 owl-carousel">
                        {% for p in related_products %}
                            <div class="card h-100 text-black">
                                <div class="img-container">
                                    {% if not p.photo %}
                                        <img src="{% static 'images/def.jpg' %}" class="card-img-top"
                                             alt="No photo available">
                                    {% else %}
                                        <img src="{{ p.photo.url }}" class="card-img-top" alt="{{ p.name }}">
                                    {% endif %}
                                </div>

                                <div class="card-body">
                                    <a href="{% url 'shop_single' p.id %}"><h5 class="card-title">{{ p.name }}</h5></a>
                                    <p class="card-text">
                                        <strong class="item-price">{{ p.price }} p.</strong>
                                    </p>
                                </div>
                                <div class="p-2 mb-2">
                                    {% if user.is_superuser %}
                                        <button class="btn btn-border ml-3"><a
                                                href="{% url 'a_product' p.id %}">Изменить</a></button>
                                        <button class="btn btn-red ml-3"><a class="text-white"
                                                                            href="{% url 'del_product' p.id %}">Удалить</a>
                                        </button>
                                    {% else %}
                                        {% if user.is_authenticated %}
                                            <form action="{% url 'add_to_cart' p.id %}" method="POST">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-red" style="width: 100%;">
                                                    <span class="fas fa-shopping-cart pr-2"></span>В корзину
                                                </button>
                                            </form>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}