{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container success-container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="alert alert-success text-center" role="alert"><h4 class="alert-heading">Заказ успешно
                    оформлен!</h4>
                    <p>Спасибо за ваш заказ. Мы получили его и начнем обработку в ближайшее время.</p>
                    <hr>
                    <p class="mb-0">Номер вашего заказа: <strong>#123456</strong></p></div>
                <div class="text-center"><a href="/" class="btn btn-red">Вернуться на главную</a> <a href="/orders"
                                                                                                         class="btn btn-border">Просмотреть
                    заказы</a></div>
            </div>
        </div>
    </div>
{% endblock %}